<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <title>Wolfie Home</title>
    <link rel="stylesheet" type="text/css" 
          href="{{ url_for('static', filename='css/libraries/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" 
          href="{{ url_for('static', filename='css/libraries/bootstrap-material-design.css') }}">
    <link rel="stylesheet" type="text/css" 
          href="{{ url_for('static', filename='css/libraries/ripples.css') }}">
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/material.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/ripples.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/react.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/react-dom.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/underscore.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/async.js') }}"></script>
    <script type="text/javascript" 
             src="{{ url_for('static', filename='js/libraries/Flux.js') }}"></script>

    {% block css_and_js %}
    {% endblock %}
  </head>
  <body>

    <div class="row">

      <div class="bs-component">
        <div class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li id="locationLink"><a href="location">Houses</a></li>
                <li id="devicesLink"><a href="devices">Devices</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a id="logout_btn" href="javascript:void(0)">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="main" class="bs-component" >
      {% block main %}
      {% endblock %}
      </div>
    </div>

  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/others/user.js') }}"></script>
  {% block js_at_the_end %}
  {% endblock %}
</html>