{% extends "default_layout.html" %}

{% block js_at_the_end %}

<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stores/Store.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stores/DeviceStore.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/views/devices/actions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/devices/DeviceSelectedStore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/devices/DeviceView.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/devices/DeviceListView.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/devices/main.js') }}"></script>
{% endblock %}

