<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wolfie Home</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>

</head>

<body>
    <form>
        username: <br>
        <input id="username" type="text" name="username"><br>
        password: <br>
        <input id="password" type="password" name="password"><br>
        <button id="login_btn" type="button">login</button>
    </form>
</body>

</html>